html {
    position: relative;
    min-height: 100%;
}

html, body {
    background-color: #343a40;
    color: #fff;
}

.fancy-title {
    text-shadow: 2px 2px 0px #333, 3px 3px 0px rgb(200, 200, 200);
}

body {
    margin-bottom: 60px;
}

.container {
    
}

p {
    color: rgb(200, 200, 200);
}

.break {
    margin: 0;
    height: 1px;
    border-width: 0;
    background-color:grey;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.container {
    margin-bottom: 10%;
}